body {
	background-image: url("dronereg.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}
.container {
	align-items: center;
}
.jumbotron {
	background-color: rgba(150, 181, 182, 0.16);
}
h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 20px 20px 20px 20px;
	position: absolute
	top: 50px;
	background-color: rgba(224, 231, 245, 0.35);
}
p {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}
a {
	text-align: center;
	display: inline-block;
	position: absolute;
	margin: 0 auto;
}
.formlayout {
	box-sizing: border-box;
	width: 50%;
	margin: auto;
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-weight: bold;
}
.btn:hover {
	transform: scale(1.1);
}
.butcont {
	font-weight: bold;
}